[Unit]
Description=Update transmission blocklist

[Service]
Type=oneshot
ExecStart=/usr/bin/axelctl --update-blocklist

[Install]
WantedBy=multiuser.target
